#domain-search-form {
  gap: 20px;
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.domain-search-container {
  display: flex;
  gap: 20px;
}

.domain-search-container .input-container {
  display: flex;
  width: 95%;
  border: 1px solid rgba(0, 0, 0, 0.072);
  background: white;
  padding-right: 10px;
  border-radius: 5px;
  flex-wrap: wrap;
}

.domain-search-container .input-container #tld {
  min-width: 100px;
  width: fit-content;
  border: none;
  background: none;
  border-left: 2px solid rgba(0, 0, 0, 0.341);
  border-radius: 0px;
  font-weight: 500;
}

.domain-search-container .input-container #domainIput {
  flex: 1;
  outline: none;
  font-size: 1em;
  font-weight: 500;
}

.domain-search-container .input-container #domainInput::placeholder {
  font-size: 1em;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.5);
}

::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.5) !important;
}

#domainInput:focus {
  border: none;
  outline: none;
}

.searchIconButton {
  color: white;
  border: none;
  border-radius: 5px !important;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600 !important;
}

.h-50 {
  height: 50px;
}

.w-50 {
  width: 50px;
}

a#registrars_link:hover {
  text-decoration: underline;
}

@media screen and (max-width: 768px) {
  #domain-search-form {
    width: 100%;
  }

  .domain-search-container {
    flex-direction: column;
  }

  .domain-search-container .input-container {
    width: 100%;
  }

  /* .domain-search-container .input-container #tld {
    width: 100%;
  }

  .domain-search-container .input-container #domainIput {
    width: 100%;
  } */

  .searchIconButton {
    width: 100%;
  }
}
